<h2><%= (t 'about') %></h2>

<br>

<h5 class='about'>
  <p><%= (t 'about_text_intro') %></p>

  <br>

  <p><%= (t 'about_text_disclaimer') %></p>
</h5>

<br>

<%= image_tag 'michael_scott_quote.jpg', class: 'quote_image' %>