.api_doc_main {
  background-color: black;
  color: rgba(255, 255, 255, 0.89);
}
.api_doc_main code {
  color: rgba(255, 255, 255, 0.89);
}
.navbar-api-doc {
  background-color: #2a2a2a;
}
.navbar-api-doc #logo {
  color: rgba(255, 255, 255, 0.89);
}
.api_doc_page {
  margin: 20px;
}
.code_snippet {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.89);
}
.top {
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.89);
  color: black;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
}
