/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
  background-color: white;
}

button {
   margin-left: 10px;
}

.nav-bar-link{
  background-color: rgb(215, 215, 215);

  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: black;
  font-size: 16px;
  padding: 9px;
}
a:hover.nav-bar-link{
  background-color: black;
  color: white;
}

.nav-bar-link-left{
  background-color: rgb(215, 215, 215);

  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: black;
  font-size: 16px;
  padding: 9px;
  padding-left: 12px;
}
a:hover.nav-bar-link-left{
  background-color: black;
  color: white;
}

.nav-bar-link-right{
  background-color: rgb(215, 215, 215);

  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
  font-size: 16px;
  padding: 9px;
  padding-right: 12px;
}
a:hover.nav-bar-link-right{
  background-color: black;
  color: white;
}



.side-menu-topic {
  margin-left: 10px;
  margin-top: 15px;
}

.nav.side-menu-link {
  margin-left: 20px;
}

.small-recipe-img {
  margin-bottom: 20px;
  float: left;
  height: 200px;
  width: 200px;
}

a.link {
  text-decoration: underline;
}
