/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

button {
   margin-left: 10px;
}

.main {
  margin-left: 30px;
  margin-right: 30px;
}

.content{
  padding-top: 15px;
}

.small_recipe_text{
  background-color: rgba(255, 255, 255, 0.7);
}

.small-recipe-img {
  margin-bottom: 20px;
  float: left;
  height: 200px;
  width: 200px;
}

.big-recipe-img {
  margin-bottom: 20px;
  height: 300px;
}

a.link {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}