#logo{
  color: rgb(218, 52, 31);
}
#logo:hover{
  transition: all 1s ease;
  color: white;
  background: red;
}



.navbar{
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.navbar-main{
  background-color: rgb(255, 227, 102);
  box-shadow: 8px 8px 5px grey;
}

.nav-bar-link{
  transition: background-color 0.5s ease;
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 9px;
}
a:hover.nav-bar-link{
  transition: background-color 0.5s ease;
  background-color: rgb(218, 52, 31);
  color: white;
}