<div class="container">
  <footer class="center">
    <small>
      Social Recipes | 
      Copyright 2019 | 
      <%= link_to image_tag('github_logo.png', id: 'github_logo'), 'https://github.com/kendyhiga/cookbook-treinadev', target: :_blank %> | 
      <%= link_to image_tag('linkedin_logo.png', id: 'linkedin_logo'), 'https://www.linkedin.com/in/alan-kendy-higa-605a79158/', target: :_blank %>
    </small>
  </footer>
</div>
