<ul class="nav flex-column">
  <li class="nav-item">
    <p class="side-menu-topic">Tipo</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <% RecipeType.all.each do |recipe_type| %>
          <p class="side-menu-link"><%= link_to recipe_type.name, recipe_type %></p>
        <% end %>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <p class="side-menu-topic">Cozinha</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <% Cuisine.all.each do |cuisine| %>
          <p class="side-menu-link"><%= link_to cuisine.name, cuisine %></p>
        <% end %>
      </li>
    </ul>
  </li>
</ul>